{{#each this}}
<h1>
  {{name}}
</h1>
<p> <span class="item">Capital:</span> {{capital}}</p>
<p> <span class="item">Population:</span> {{population}}</p>
<p> <span class="item">Languages:</span> {{#each languages}}
  <ul>
    <li>{{this.name}}</li>
  </ul>
  {{/each}}
</p>
<img src="{{flags.svg}}" alt="Flag {{name}}" height="320">

{{/each}}